[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Type=simple
ExecStart=/opt/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}/node_exporter

[Install]
WantedBy=multi-user.target
